.page {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 320px;
    grid-template-areas:
    "header header"
    "hero hero"
    "content sidebar"
    "footer footer";

    gap: 2rem;
}

.header {
    grid-area: header;
}

.hero {
    grid-area: hero;
}

.content {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
}