.custom-card{
    width: 200px;
    background-color: #EEF1F3;
}

.custom-img{
    height: 180px;
    object-fit: cover;
}

.card-body{
    font-family:sans-serif;
}

.text-truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.custom-card .card-body {
    padding: 0.75rem;
}

.custom-card .card-title {
    font-size: 1rem;
    color: #191970;
}

.custom-card .card-text {
    font-size: 0.75rem;
}

.card-footer{
    background-color: #E0E3E5;
}

.divider {
    border: none;
    border-top: 1px solid #000000;
    margin: 1rem 0;
    opacity: 0.1;
}
